<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AirAssist - Account Created</title>
</head>

<body style="margin:0; padding: 0;background-color: darkblue;font-family: Arial,sans-serif;">
    <div style="max-width: 600px; margin: 40px auto; background: white; border-radius: 10px; overflow: hidden;">
       <div style="padding: 25px; text-align: center; background-color: #ffffff;">
            <img src="cid:logo_placeholder"
                 alt="logo_placeholder"
                 style="max-width: 180px; height: auto;">
        </div>
        <div style="padding: 30px;">
            <h2>Welcome,{{first_name}}</h2>

            <p>Your AirAssist account has been created succesfully</p>
            <p><strong>User ID: </strong>{{user_id}}</p>
            <p><strong>Role ID: </strong>{{role_id}}</p>
            <p><strong>First Name: </strong>{{first_name}}</p>
            <p><strong>Last Name: </strong>{{last_name}}</p>
            <p><strong>Email: </strong>{{email}}</p>
            <p><strong>Password: </strong>{{password}}</p>

            <p>Your password must be changed after your first login.</p>

            <p>
                Have a nice day,<br>
                <strong>{{ sender_name|default:"AirAssist Team" }}</strong>
            </p>

            {% if footer_text %}
            <p style="color: #6b7280; font-size: 13px;">{{ footer_text }}</p>
            {% endif %}

        </div> 
    </div>
</body>
</html>
