<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AirAssist - Password Reset</title>
</head>
<body style="margin: 0; padding: 0;background-color: darkblue;font-family: Arial,sans-serif;">
    <div style="max-width: 600px; margin: 40px auto; background-color: white; border-radius: 10px; overflow: hidden;">
           <div style="padding: 25px;text-align: center;background-color: #ffffff;">
             <img
                src="cid:logo_placeholder"
                alt="AirAssist"
                style="max-width: 180px; height: auto;"
            >
            </div>
            
            <div style="padding: 30px;">
                <h2>Hello {{ first_name }},</h2>
            
                <p>You have requested to reset your AirAssist password.</p>
                <p style="margin: 30px;text-align: center;">
                    <a
                      href="{{reset_url}}"
                    >
                    Reset Password
                    </a>
                </p>
                <p>If the button does not work, use this link:</p>
             <p style="overflow-wrap: anywhere;">
                <a href="{{ reset_url }}">{{ reset_url }}</a>
                </p>

                <p>If you did not request this change, you can ignore this email.</p>
                <p>
                Have a nice day,<br>
                <strong>AirAssist Team</strong>
            </p>
            </div>
    </div>
</body>
</html>

                
    